    * {
        margin: 0;
        padding: 0;
    }
    body::before{
        content: "";
        background: url('/static/bg.jpg') no-repeat center center/cover;
        z-index: -1;
        height:795px;
        width:100%;
        position: absolute;
        opacity:0.6;
    }
    nav {
        background-color: hsla(0, 76%, 1%, 0.2);
        padding: 12px;
    }
    
    ul {
        display: flex;
        flex-direction: row;
    }
    h2{
        text-align: center;
    }
    
    li {
        list-style: none;
        padding: 3px 17px;
    }
    
    a {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    
    .container {
        margin: 18px auto;
         
        max-width: 70%;
        
    }
    input,textarea{
        display: block;
        margin: 21px auto;
        padding: 8px;
        width: 64%;
        border: 2px solid black;
        border-radius: 5px;
    }
    .btn{
        margin: 3px auto;
    display: block;
    font-weight: bold;
    background-color: #a08d54;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    padding: 14px 36px;
    }